* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}
body{
    font-family: 'Kanit', sans-serif;
    background-color: rgb(252 211 104);
    margin: auto;
}
.box{
    width: 60vw;
    height: 70vh;
    border-radius: 50px;
    justify-content: center;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2,1fr);

    position: absolute;
    left: 20%;
    top: 15%;
    box-shadow: 5px 10px 20px #636262;

}
.conlog{
    height: 50%;
    position: relative;
    top: 25%;
    text-align: center;
    box-shadow:  #888888;
}
i{
    opacity: 0.8;
}
.inputmail{
    background-color: lightgray;
    padding: 0.5rem;
    border-radius: 50px;
    margin-bottom: 1rem;
    margin-top: 2rem;
    border-style: none;
}
.inputpass{
    background-color: lightgray;
    padding: 0.5rem;
    border-radius: 50px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border-style: none;
}
::placeholder {
    padding: 1rem;
  }

.bottonsub{
    background-color: #6dc238;
    color: white;
    border-radius: 50px;
    border-style: none;
    height: 2.5rem;
    width: 20%;
    transition: 0.5s;
}
.bottonsub:hover{
    background-color: gray;
}
.imglog{
    width: 20vw;
    margin: auto;
    transition: 1s;
}
.imglog:hover{
    transform: scale(1.2,1.2);
}
.si{
    color: gray;
    margin-top: 2rem;
    transition: 0.5s;
    font-size: small;
    text-align: center;
}
.si:hover{
    color: black;
}
.white{
    width: 50vw;
    height: 100vh;
    background-color: white;
    position: absolute;
    left: 50%;
    justify-content: center;
    text-align: center;
    margin: auto;
}
.mangohead{
    position: absolute;
    opacity: 0.3;
    top: 30%;
    left: 15%;
}
.headtext{
    position: relative;
    top: 40%;
}
.headtext2{
    position: relative;
    top: 40%;

}
.warp{
    position: relative;
    top: 50%;
}
.btn{
    border-radius: 50px;
    margin-top: 1rem;
    width: 10rem;
    border-style: none;

}
.btn:hover{
    background-color: gray;
}
.btn-secondary{
    background-color: lightgray;
}
.yellow{
    background-color:rgb(252 211 104) ;
}
.mangoicon{
    width: 10%;
    position: absolute;
    top: 25%;
    left: 45%;
}
.l1{
    position: absolute;
    top: 40%;
    left: 20%;
    color: white;
    font-weight: bold;
}
.l2{
    position: absolute;
    top: 50%;
    left: 20%;
    color: white;
    font-weight: bold;
}
.l3{
    position: absolute;
    top: 60%;
    left: 20%;
    color: white;
    font-weight: bold;
}
.material-icons{
    font-size: 3rem;
    color: white;
}
.icon1{
    position: absolute;
    top: 39%;
    left: 15.5%;
}
.icon2{
    position: absolute;
    top: 49%;
    left: 15.5%;
}
.icon3{
    position: absolute;
    top: 59%;
    left: 15.5%;
}

@media screen and (max-width: 1000px) {
    .imglog {
      display: none;
    }
    .box{
        display: inline;
    }
  }